# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Sqlite
*.db

# Emacs related stuff
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*


# Mac OS X hidden files
.DS_Store
