# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Sqlite, XML, Gzip, Log
*.db
*.xml
*.gz
*.log

# Emacs related stuff
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*


# Mac OS X hidden files
.DS_Store
*.swp

# local files
config.py
py3env
env
venv
.idea

# temp files for adding more wordnets
omw/resources/
