{% extends "ili.html" %}
{% block body %}

<input type="hidden" name="current_user" value={{ current_user.id }}>

<table class="sortable">
  <thead>
    <tr>
      <th>ili ID</th>
      <!-- <th>Kind</th> -->
      <th>Definition and Source</th>
      <!-- <th>Status</th> -->
      <!-- <th>Superseed</th> -->

      {% if current_user.id %}
        <th><i class="fa fa-star" aria-hidden="true"></i></th>
        <th>Actions</th>
      {% endif %}

    </tr>
  </thead>

{%- for ili_id, row in ili.items() %}
  <tr>

    <!-- ili ID -->
    <th>
      <nobr>
      <span class="synset">⟪<a href="{{url_for('concepts_omw', iliID = ili_id)}}" data-iliid="{{ili_id}}">i{{ili_id}}</a>⟫</span>
      <!-- Kind: concept or instance -->
      {% if  row[0] == "concept" %}
      <a title='concept'>⊂</a>
      {% else %}
      <a title='instance'>∈</a>
      {% endif %}
       <!-- Status: probationary -->
      {% if row[4] == "temporary" %}
      <a title='temporary'>⏳</a>
      {% endif %}
      <!-- Status: deprecated/superceded -->
      {% if row[6] == 'None' %} <!-- CHECKME -->
      <a title='deprecated'>⚠</a>
      {% endif %}
      </nobr>
    </th>

    <!-- ili Definition -->
    <td>
      “{{ row[1] }}”
      <!-- Origin (Project) -->
      <nobr>(<a href='/omw/src/{{ row[2][0] }}-{{ row[2][1] }}/{{ row[3] }}'>{{ row[2][0] }}-{{ row[2][1] }}:{{ row[3] }}</a>{% if row[4] == "temporary" %}; added {{ row[6].split()[0] }}){% else %}){% endif %}
	
    </td>

    <!-- ACTIONS (IF LOGGED IN) -->
    {% if current_user.id %}

    <td>
      <span id="rating{{ ili_id }}">
	<span style="color:green" title="{{ up_who[ili_id] }}">+{{ rsumm[ili_id]['up']  }}</span><br>
        <span style="color:red"  title="{{ down_who[ili_id]  }}">-{{ rsumm[ili_id]['down'] }}</span>
      </span>
    </td>

    <td>

      {% if current_user.id in up_who[ili_id] %}
      <span class="thumbup" id="thumbup{{ ili_id }}" data-ili="{{ ili_id }}">
	 <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color:green"></i>
      </span>
      {% else %}
      <span class="thumbup" id="thumbup{{ ili_id }}" data-ili="{{ ili_id }}">
	 <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      </span>
      {% endif %}


      {% if current_user.id in down_who[ili_id] %}
      <span class="thumbdown" id="thumbdown{{ ili_id }}" data-ili="{{ ili_id }}">
      <i class="fa fa-thumbs-o-down" aria-hidden="true" style="color:red"></i>
      </span>
      {% else %}
      <span class="thumbdown" id="thumbdown{{ ili_id }}" data-ili="{{ ili_id }}">
      <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
      </span>
      {% endif %}


      <span class="comment" id="comment{{ ili_id }}" data-ili="{{ ili_id }}">
	<i class="fa fa-comments-o" aria-hidden="true"></i>
      </span>


      <span class="detailed" id="detailed{{ ili_id }}" data-ili="{{ ili_id }}"><i class="fa fa-toggle-off" aria-hidden="true"></i></span>


    </td>
    {% endif %}
  </tr>



  <!-- Detailed View   (IF LOGGED IN) -->
  {% if current_user.id %}
  <tr id="seedetailed{{ ili_id }}"></tr>
  {% endif %}




{%- endfor %}
</table>


{% block detailed %}{% endblock %}


{% endblock %}
