{% extends "omw.html" %}
{% block body %}

<input type="hidden" name="current_user" value={{ current_user.id }}>

<h4>How to join the Open Multilingual Wordnet</h4>

<p>We welcome anyone who has made a wordnet that is available under an
  open license to join the Open Multilingual Wordnet (OMW).  This links
  your wordnet to wordnets in other languages and makes it more easily
  accessible.  Wordnets in OMW are used by other projects such as the
  <a href='http://www.nltk.org/'>Natural Language Toolkit</a>.  We
  also provide a restful interface.

<p>To join the Open Multilingual Wordnet you must:
<ul>
  <li>Convert your wordnet to the
  public <a href="https://github.com/globalwordnet/schemas/blob/master/WN-LMF.dtd"
  target="_blank">Wordnet LMF document type definition (DTD)</a>.  We can help if needed.
 <br> More information about <a href='http://globalwordnet.github.io/schemas/'>the schemas (including other formats)</a> and <a href='https://github.com/jmccrae/gwn-scala-api'>conversion tools</a>.  We only accept LMF as XML for the upload, please convert and validate before uploading. 
    
  <li>Let us know that you would like to join
    (email <a href='mailto:bond@ieee.org'>Francis Bond</a>) so we can add your project.

  <li>You can then add your wordnet either by uploading a file or by
  providing a url pointing to a valid Wordnet LMF file.  We will then
  validate it against
  the <a href="https://github.com/globalwordnet/schemas/blob/master/WN-LMF.dtd"
  target="_blank">Wordnet LMF document type definition (DTD)</a> and
    run some other sanity checks.</p>

<li><a href="{{url_for('upload')}}">Upload the wordnet</a>
  (<a href="{{url_for('omw_doc_upload')}}">How To</a>)

<li>We will do some checking of formatting, but the ultimate
responsibility for the quality of the content is the individual
projects.
</ul>




<h5>Disclaimer</h5>

<p>The Open Multilingual Wordnet may not contain all of the
information in the component wordnets.  It is the (large and we hope
useful) subset of information we know how to represent.

</body></html>

{% endblock %}
