{% extends "ili.html" %}
{% block body %}

<input type="hidden" name="current_user" value={{ current_user.id }}>


<h4>Language Admin</h4>

<br>

<p>This is a list of languages in the database.</p>

<p><span id="add_new_language" name="add_new_language"><a style="font-size:18px" href="">Add New Language</a></span> (refresh to see it in the list)</p>
<table class="sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th><a href='https://en.wikipedia.org/wiki/IETF_language_tag'>BCP47</a></th>
      <th><a href='https://en.wikipedia.org/wiki/ISO_639-3'>ISO639-3</a></th>
      <th>English Name</th>
      <th>Local Name</th>
      <th>Number of Translations</th>
    </tr>
  </thead>


{% for id, more in langs.items() %}


  <tr>

    <!-- ID -->
    <td>
      {{ id }}
    </td>

    <!-- BCP47 -->
    <td>
      {{ more['bcp47'] }}
    </td>

    <!-- ISO 639 -->
    <td>
      {{ more['iso639'] }}
    </td>

    <!-- ENGLISH NAME -->
    <td>
      {{ more[1] }}
    </td>

    <!-- AUTONYM -->
    <td>
    {{ more[id] }}
    </td>
    
    <!-- ALL TRANSLATIONS -->
    <td>
      {{ more|length -2}}
    </td>

  </tr>
{% endfor %}
</table>


{% endblock %}
