{% macro ssrel(relname) -%}
{%- set rel = gwadoc.relations[relname] -%}
<span class='rel tooltip' title="
{%- if not (rel.df or rel.ex) %}(no description; click for more info)
{%- else -%}
  {%- if rel.df %}{{ rel.df }}{% endif -%}
  {% if rel.ex %}&#xa; (E.g.: {{ rel.ex }}){%- endif %}
{%- endif %}">
  <a href="https://globalwordnet.github.io/gwadoc/#{{ relname }}"
  target="gwadoc">{{ rel.name }}</a>
</span>
{%- endmacro %}
{% macro ili(name,ili_id) -%}
<a class='concept' href="{{url_for('concepts_omw',iliID=ili_id)}}" title='CILI-ID=i{{ili_id}}'>{{name}}</sub></a>
{%- endmacro %}
