{%- for ss_id, info in ss.items() %}
{% from "macros.html" import ili_link with context -%}
{% from "macros.html" import ili_ss_link with context -%}
<small>
<!-- CONCEPT -->
<span class='concept_name'>{{labels[ss_id]}}</span>
  <span class='pos' title='{{pos['def'][ss[ss_id][1]]}}'>{{pos['id'][ss[ss_id][1]]|lower}}</span> 
{% if ss[ss_id][0] %}
⟪{{ili_ss_link(ss[ss_id][0])}}⟫
</p>
{% endif %}

<!-- SENSES -->
 {% if ss_id in senses.keys() %}
    <div class='line'><span>Senses</span></div>
    {%- for lang_id in senses[ss_id] %}
      <p><b>{{ langs[lang_id][1] }}:</b>
        {% for s in senses[ss_id][lang_id] %}
          {{ s[1]}}{% if s[2] %}<sub>{{s[2]}}</sub>{% endif %}{% if not loop.last %}{{', '}}{% endif %}
        {% endfor %}
     {% endfor %}
  {% endif %}



<!-- DEFINITIONS -->
<div class='line'><span>Definitions</span></div>
{%- for lang_id, def in defs[ss_id].items() %}
<p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(def) }}</p>
{%- endfor %}


<!-- EXAMPLES -->
{% if ss_id in exes.keys() %}
<div class='line'><span>Examples</span></div>
  {%- for lang_id, ex in exes[ss_id].items() %}
  <p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(ex) }}</p>
  {%- endfor %}
{% endif %}


{%- endfor %}
</small>

