{%- for ss_id, info in ss.items() %}

<!-- CONCEPT -->
<!-- <div id='line'><span>Concept</span></div> -->
<!-- <p><b>OMW-ID: </b>{{ ss_id }}-{{ pos['id'][ss[ss_id][1]]|upper }}</p> -->
  <!-- part of speech  -->
<p> <span class='pos' title='{{pos['def'][ss[ss_id][1]]}}'>{{pos['id'][ss[ss_id][1]]|lower}}</span> 

{% if ss[ss_id][0] %}
⟪<a href="{{url_for('concepts_ili',c=ss[ss_id][0])}}">i{{ ss[ss_id][0] }}</a>⟫
</p>
{% endif %}

<!-- SENSES -->
 {% if ss_id in senses.keys() %}
    <div id='line'><span>Senses</span></div>
    {%- for lang_id in senses[ss_id] %}
      <p><b>{{ langs[lang_id][1] }}:</b>
        {% for s in senses[ss_id][lang_id] %}
          {{ s[1]}}{% if s[2] %}<sub>{{s[2]}}</sub>{% endif %}{% if not loop.last %}{{', '}}{% endif %}
        {% endfor %}
     {% endfor %}
  {% endif %}



<!-- DEFINITIONS -->
<div id='line'><span>Definitions</span></div>
{%- for lang_id, def in defs[ss_id].items() %}
<p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(def) }}</p>
{%- endfor %}


<!-- EXAMPLES -->
{% if ss_id in exes.keys() %}
<div id='line'><span>Examples</span></div>
  {%- for lang_id, ex in exes[ss_id].items() %}
  <p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(ex) }}</p>
  {%- endfor %}
{% endif %}


{%- endfor %}


