{% extends "omw.html" %}
{% block welcome %}

<h3>OMW Interface Documentation</h3>

<p>This page provides documentation for the web interface to the Open
  Multilingual Wordnet.  


<ul>
  <li> <a href='{{ url_for('omw_doc_search') }}'>Searching for words or concepts</a>
  <li> <a href='{{ url_for('omw_doc_upload') }}'>Uploading a wordnet</a>
  <li> <a href='{{ url_for('omw_wns') }}'>A summary of the wordnets in OMW</a>
</ul>


<h3>External APIs to wordent</h4>

<ul>
  <li>NLTK (currently based on OMW 1.0)
</ul>


  <h3>Technical Notes</h3>

<p>It is written in python, using flask and sqlite3.   The code is on github.
  


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
