{% extends "omw.html" %}
{% block body %}

<p>Core concepts are those in the the semi-automatically compiled list of
4,960 "core" word senses in the Princeton WordNet (approximately the
5000 most frequently used word senses). They are marked with ✪ in the
interface. The original list is here from
<a href='http://wordnetcode.princeton.edu/standoff-files/core-wordnet.txt'>here</a>
(Boyd-Graber et al., 2006).

<p>Boyd-Graber, J., Fellbaum, C., Osherson, D., and Schapire, R. (2006) 
<a href="http://wordnet.princeton.edu/wordnet/publications/jbj-jeju-fellbaum.pdf">Adding
  dense, weighted connections to WordNet.</a> In: <i>Proceedings
	of the Third Global WordNet Meeting</i>, Jeju Island, Korea,
January 2006

{% endblock %}
