{% extends "omw.html" %}
{% block welcome %}

<h3> Welcome to the Open Multilingual Wordnet (2.0)</h3>

<p>This page provides a summary of the component projects in the Open Multilingual
Wordnet (OMW).   OMW and its components are
<a href='http://opendefinition.org/'>open</a>: they can be freely
used, modified, and shared by anyone for any purpose.  There is
a fuller list of wordnets at the Global Wordnet Association's
<a href='http://globalwordnet.org/wordnets-in-the-world/'>Wordnets
in the World page</a>.  
  
<table style="width:auto;overflow-x:auto;">
  <!-- <caption>Summary of the Wordnets</caption> -->
  <tr>
    <th>Language</th>
    <th>Wordnet</th>
    <th>ID</th>
    <th style="text-align:right">Synsets</th>
    <th style="text-align:right">Words</th>
    <th style="text-align:right">Senses</th>
    <th style="text-align:right">Core</th>
    <th>Statistics</th> 
    <th>License</th>
  </tr>
    {% for (meta, stat) in stats %}
    {% set prj = meta['id'] %}
    {% set vers = meta['version'] %}
    {% set lang = lang_id[lang_code['code'][meta['language']]][1] %}
  <tr>
    <td>{{lang}}</td>
    <td>
      {% if meta['url'] %}
	<a title='project homepage (external)' href='{{ meta['url']}}'>{{meta['label']}}</a>
      {% else %}
      {{meta['label']}}
	{% endif %}
    </td>
     <td>
      <tt>{{meta['id']}}-{{meta['version']}}</tt>
    </td>
    <td style="text-align:right">{{'{0:,}'.format(stat['synsets'])}}</td>
    <td style="text-align:right">{{'{0:,}'.format(stat['words'])}}</td>
    <td style="text-align:right">{{'{0:,}'.format(stat['senses'])}}</td>
    <td style="text-align:right">{{'{0:,}'.format(stat['core'])}}</td>
    <td>
      <a title='statistics' href='{{url_for('omw_wn',
	 proj=prj, ver=vers, full=True)}}'><i class="fa fa-bar-chart"></i></a>;
      <a title='statistics in LaTeX' href='{{url_for('omw_wn_latex',
	  proj=prj, ver=vers)}}'>LaTeX</a>
    </td>
<td><a href='{{meta['license']}}'>{{licenses[meta['license']]}}</a></td>
    
  </tr>
  {% endfor %}
<table>    


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
