{% extends "omw.html" %}
{% block body %}

{% if ss|length == 0 %}
<p>I am confused, I don't know the node {{ssID}}.
   This should not happen.</p>
{%  endif %}

{%- for ss_id, info in ss.items() %}

<span class='concept_name'>{{labels[ss_id]}}</span>  
<small>  <!-- data -->
  <!-- part of speech  -->
  <span class='pos'
	title='{{pos['def'][ss[ss_id][1]]}}'>{{pos['id'][ss[ss_id][1]]|lower}}</span>
  {% if ss_id in core %}
  </small>
<a  href='{{url_for('omw_core')}}' title= 'One of the 4,960 core concepts'>✪</a>
{% endif %}  <!--  If core concept -->
<small> 
  {% if ss[ss_id][0] %}  <!--  If linked to ILI -->
  ⟪<a href="{{url_for('concepts_ili',c=ss[ss_id][0])}}">i{{ ss[ss_id][0] }}</a>⟫
  {% endif %}
  <!-- definition -->
  {% if defs[ss_id][selected_lang|int] %}
    {{ '; '.join(defs[ss_id][selected_lang|int]) }}
  {% elif defs[ss_id][selected_lang2|int] %}
    {{ '; '.join(defs[ss_id][selected_lang2|int]) }}
  {% elif iliID %}
    {{ ili[iliID|int][1] }}
  {% endif %}
<!-- {{selected_lang}} {{selected_lang2}} -->

</small>


   <!-- SENSES -->
    {% if ss_id in senses.keys() %}
    <div id='line'><span>Senses</span></div>
    {%- for lang_id in senses[ss_id] %}
      <p><span class ='lang'>{{ langs[lang_id][1] }}:</span>
        {% for s in senses[ss_id][lang_id] %}
        <a class='sense' data-sid='{{s[0]}}' style='font-size:
        {{scale_freq(s[2])}}%;'
           href='{{url_for('omw_sense',sID=s[0])}}'>{{ s[1]}}</a>
	{%- if slinks[s[0]] %}
	({%- for s_rel in slinks[s[0]] -%}
	{% set rel =  gwadoc.relations[srl['id'][s_rel][0]] %}
	      {%- for s_to in slinks[s[0]][s_rel] -%}
	<a class='sense' data-sid='{{s_to}}'
	   href='{{url_for('omw_sense',sID=s_to)}}'>{{rel.name.symbol}}</a>
	{%- endfor -%}
            {%- endfor -%})
	{%- endif -%}
	{%- if not loop.last %}{{'; '}}{% endif %}
        {% endfor %}
     {% endfor %}
  {% endif %}

    <!-- DEFINITIONS -->
    <div id='line'><span>Definitions</span></div>
    {%- for lang_id, def in defs[ss_id].items() if (lang_id and def) %}
      <p><span class ='lang'>{{ langs[lang_id][1] }}:</span> {{ '; '.join(def) }}</p>
    {%- endfor %}
    <!-- Show the ILI Definition if it is not the same as the English definition -->
    {% if  iliID and ili[iliID|int][1] != '; '.join(defs[ss_id][1]) %}
    <p><span class ='lang'>ILI:</span> {{ ili[iliID|int][1]}}</p> 	
    {% endif %}	

    <!-- EXAMPLES -->
    {% if ss_id in exes.keys() %}
        <div id='line'><span>Examples</span></div>
        {%- for lang_id, ex in exes[ss_id].items() %}
            <p><span class ='lang'>{{ langs[lang_id][1]}}: </span> {{ '; '.join(ex) }}</p>
        {%- endfor %}
    {% endif %}

    <!-- SYNSET RELS -->
    {% if ss_id in links.keys() %}
    <div id='line'><span>Synset Relations</span></div>
    <table class="rels tight">
        {%- for rel in links[ss_id] %}
        <tr>
	  <th>{{ ssrel(ssrels['id'][rel][1]) }}</th>
	  <td>
          {%- for ss2 in links[ss_id][rel] %}
         <a class="concept" href="{{url_for('concepts_omw',ssID=ss2)}}"
              data-synsetid="{{ss2}}">{{labels[ss2]}}</a>
	  {%- if not loop.last %}{{', '}}{% endif %}
          {%- endfor %}
	  </td>
	</tr>
	{%- endfor %}
    </table>
  {% endif %}
  <div id='line'><span>Synset Sources</span></div>
  {%- for src, key, conf in ss_srcs[ss_id|int] %}
  {% set proj = src_meta[src]['id'] + '-'  +  src_meta[src]['version'] %}
     <a href="{{url_for('omw_wn', src=proj)}}">{{src_meta[src]['label']}}
    ({{src_meta[src]['version']}})</a> with confidence {{conf}}
      {%- if not loop.last %}{{'; '}}{% endif %}
      {%- endfor %}
    
{%- endfor %}
{% endblock %}
