{% extends "omw.html" %}
{% block body %}
{% if src_id %}
{% if src_info.url %}
<h5><a href='{{src_info.url}}'  title='upstream project homepage'>{{ src_info.label }}</a>
       ({{ wn }}:  {{ src_info.language }})</h5> {# expand to language #}
{% else %}
<h6>{{ src_info.label }} ({{ wn }}:  {{ src_info.language }})</h6> {# expand to language #}
{% endif %}

<p>This page gives some information about {{ src_info.label }}, as it
  is loaded into the Open Multilingual Wordnet. {% if src_info.url %}
  The <a href='{{src_info.url}}'>upstream project homepage</a> may have more information than shown here.</p>
{% endif %}

<h6>Description</h6>
{% if src_info.description %}
<p>{{ src_info.description }}</p>
{% else  %}
<p>No description in the upload.</p>
{% endif %}
  
<p>The license is <a href='{{src_info.license}}'>{{licenses[src_info.license]}}</a>.</p>
  
{% if src_info.citation %}
<p>Canonical citation for this data:
  <pre>
    {{src_info.citation}}
  </pre>
<br>Please attribute the data properly!</p>
{% endif %}  
{% if src_info.filename %}
<p>The uploaded file is <a href='/omw/uploads/{{src_info.filename}}'>&lt;{{src_info.filename}}&gt;</a>.</p>
{% endif %} 

<table style="width:auto;overflow-x:auto;">
  <caption>Statistics for {{ src_info.label }}  ({{ wn }})</caption>
  <tr>
    <th style="text-align:right">Synsets</th>
    <th style="text-align:right">Words</th>
    <th style="text-align:right">Forms</th>
    <th style="text-align:right">Senses</th>
    <th style="text-align:right">Core %</th>
    <th style="text-align:right">CILI %</th>
    <th style="text-align:right">Def %</th>
    <th style="text-align:right">Ex %</th> 
  </tr>
  <tr>
    <td style="text-align:right">{{ '{0:,}'.format(src_stats.synsets) }}</td>
    <td style="text-align:right">{{ '{0:,}'.format(src_stats.words)
      }}</td>
        <td style="text-align:right">{{ '{0:,}'.format(src_stats.forms) }}</td>
    <td style="text-align:right">{{ '{0:,}'.format(src_stats.senses) }}</td>
    <td style="text-align:right">{{ (src_stats.core*100/4960)|round(1)
      }}</td>
    {%- if src_stats.synsets > 0 %}
    <td style="text-align:right">{{(src_stats.in_ili*100/
      src_stats.synsets)|round(1) }}</td>
        <td style="text-align:right">{{(src_stats.def*100/ src_stats.synsets)|round(1) }}</td>
    <td style="text-align:right">{{(src_stats.ssexe*100/
      src_stats.synsets)|round(1) }}</td>
     {%- else %}
    <td><br></td>
    <td><br></td>
    <td><br></td>
    {%- endif %}
  </tr>
</table>

<p style="font-size:smaller">Core % is the percentage of core synsets covered. CILI % is the
  percentage of synsets linked to CILI.
  Def and Ex % are the percentages of synsets
  with definitions and examples respectively.

  <table style="width:auto;overflow-x:auto;">
  <caption>POS Statistics for {{ src_info.label }}  ({{ wn
    }})</caption>
  <tr>
    <th>POS</th>
    <th style="text-align:right">Synsets</th>
    <th style="text-align:right">%</th>
    <th style="text-align:right">Words</th> 
    <th style="text-align:right">%</th>
    <th style="text-align:right">Senses</th>
    <th style="text-align:right">%</th>
  </tr>
   <tr>
     {% for (p, pn) in [('n', 'Noun'), ('v', 'Verb'), ('a',
     'Adjective'), ('s', 'Satellite Adj'), ('r', 'Adverb'), ('x',
     'Non_referential'), ('u', 'Unknown')] %}
     {% if p in pos_stats %}
     <td>{{pn}}</td>
     <td style="text-align:right">{{
       '{0:,}'.format(pos_stats[p].synsets) }}</td>
      <td style="text-align:right">{{(100*pos_stats[p].synsets/src_stats.synsets)|round(1)}}</td>
  <td style="text-align:right">{{ '{0:,}'.format(pos_stats[p].words)
    }}</td>
    <td>{{(100*pos_stats[p].words/src_stats.words)|round(1)}}</td>

     <td style="text-align:right">{{ '{0:,}'.format(pos_stats[p].senses)
    }}</td>
  <td style="text-align:right">{{(100*pos_stats[p].senses/src_stats.senses)|round(1)}}</td>
   </tr>
   {% endif %}
  {% endfor %}
  </table>

 {% if ssrel_stats %}
  <h6>Semantic Relations Between Synsets</h6>  
 <table style="width:auto;overflow-x:auto;">
  <caption>Synset-level Semantic Relations for {{ src_info.label }}  ({{ wn
    }})</caption>
  <tr>
    <th>Semantic Relation</th>
    <th style="text-align:right">Count</th>
        <th style="text-align:right">%</th>
  {% for (link, count) in ssrel_stats|dictsort%} 
  {% if link is not upper %}
<tr>
  <td>{{ssrel(link)}}</td>
  <td style="text-align:right">{{ '{0:,}'.format(count)}}</td>
  
    <td style="text-align:right">{{(count*100/ssrel_stats['TOTAL'])|round(1) }}</td>
</tr>
{% endif %}
{% endfor %}
  {% for (link, count) in ssrel_stats|dictsort%} 
  {% if link is upper %}
<tr>
  <td>{{link|title}}</td>
  <td style="text-align:right">{{ '{0:,}'.format(count)}}</td>
    <td style="text-align:right">{{(count*100/ssrel_stats['TOTAL'])|round(1) }}</td>
</tr>
    {% endif %}
  {% endfor %}
  </table>
  {% endif %} 

 {% if srel_stats %}
 <h6>Semantic Relations Between Senses</h6>
  <table style="width:auto;overflow-x:auto;">
  <caption>Sense-level Semantic Relations for {{ src_info.label }}  ({{ wn
    }})</caption>
   <th>Semantic Relation</th>
    <th style="text-align:right">Count</th>
        <th style="text-align:right">%</th>
	{% for (link, count) in srel_stats|dictsort%}
{% if link is not upper %}
  <tr>
    <td>{{ssrel(link)}}</span></td>
    <td style="text-align:right">{{ '{0:,}'.format(count)}}</td>
    <td style="text-align:right">{{(count*100/srel_stats['TOTAL'])|round(1) }}</td>
  </tr>
  {% endif %}
  {% endfor %}
  <tr>
  <td>Total</td>
  <td style="text-align:right">{{ '{0:,}'.format(srel_stats['TOTAL'])}}</td>
    <td style="text-align:right">100</td>
</tr>
  </table>
 {% endif %} 

 
<p> <a data-sid='{{wn}}' href='{{url_for('omw_wn_latex',src=wn)}}'>LaTeX for
 {{wn}} statistics</a>
 
<h4>ToDo</h4>  
<pre>
Should show the number of senses with examples.

</pre>

{# list other versions #}
{% else %} 
<p>I don't recognize this wordnet: &lt;<strong>{{wn}}</strong>&gt;
  (src_id is {{src_id}} (for debugging).
  Please use label-version (e.g. <tt>pwn-3.0</tt>).

<p><tt>src_id</tt> is {{src_id}} (for debugging).
{% endif %} 
  
{% endblock %}
