{% extends "omw.html" %}
{% block body %}


{%- for ss_id, info in ss.items() %}
<h5>Concept Details: {{ ss_id }}-{{ pos['id'][ss[ss_id][1]]|upper }}</h5>

<!-- CONCEPT -->
<div id='line'><span>Concept</span></div>
<p><b>POS: </b>{{ pos['def'][ss[ss_id][1]]|upper }}</p>
<p><b>OMW-ID: </b>{{ ss_id }}-{{ pos['id'][ss[ss_id][1]]|upper }}</p>

{% if ss[ss_id][0] %}
<p><b>ILI-ID: </b><a href="/ili/concepts/{{ss[ss_id][0]}}">i{{ ss[ss_id][0] }}</a></p>
{% endif %}
    

<!-- SENSES -->
<div id='line'><span>Senses</span></div>

{% if ss_id in senses.keys() %}
{%- for lang_id, s in senses[ss_id].items() %}

<p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(s) }}</p>

{%- endfor %}   
{% endif %}


<!-- DEFINITIONS -->
<div id='line'><span>Definitions</span></div>
{%- for lang_id, def in defs[ss_id].items() %}
<p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(def) }}</p>
{%- endfor %}   


<!-- EXAMPLES -->
{% if ss_id in exes.keys() %}
<div id='line'><span>Examples</span></div>
  {%- for lang_id, ex in exes[ss_id].items() %}
  <p><b>{{ langs[lang_id][1] }}:</b> {{ '; '.join(ex) }}</p>
  {%- endfor %}   
{% endif %}


<!-- SYNSET RELS -->
{% if ss_id in links.keys() %}
<div id='line'><span>Synset Relations</span></div>

  {%- for rel in links[ss_id] %}
    <p><b>{{ssrels['id'][rel][1]}}:</b>  

      {%- for ss2 in links[ss_id][rel] %}
      <span class="synset" ><a href="/omw/concepts/{{ ss2 }}" data-synsetid="{{ss2}}">{{ss2}}</a></span>
      {%- endfor %}   
    </p>
  {%- endfor %}   
{% endif %}




{%- endfor %}
{% endblock %}
