{% extends "omw.html" %}
{% block welcome %}

<h3>Some more about the Open Multilingual Wordnet (2.0)</h3>

<p>This page provides a summary of the Open Multilingual
Wordnet itself (OMW).   OMW and its components are
<a href='http://opendefinition.org/'>open</a>: they can be freely
used, modified, and shared by anyone for any purpose.  There is
a fuller list of wordnets at the Global Wordnet Association's
<a href='http://globalwordnet.org/wordnets-in-the-world/'>Wordnets
in the World page</a>.  

<ul>
{% for l in info %}
  <li>{{l}}
{% endfor %}
</ul>

{% if cycles %}
<h4>Cycles in the hypernym tree</h4>
<p>There were {{cycles|length}} cycles, showing the first and last 5.
<ul>
  {%- for c in cycles[:5] + cycles[-5:] -%}
  <li>{%- for ss in c -%}
 <a class='concept' href="{{url_for('concepts_omw', ssID = ss)}}"
                         data-synsetid="{{ss}}">{{label[ss]}}</a>  {{gwadoc.relations.hypernym.name.symbol if not loop.last}}
    {%- endfor -%} ⭯
  {% endfor %}
</ul>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
