{% extends "omw.html" %}
{% block welcome %}

<h3>Welcome to the Open Multilingual Wordnet (2.0)</h3>

<p>This page provides access to a large multilingual semantic lexicon.
Words in each language are grouped into groups that overlap in meaning
(synsets) and these synsets are linked by typed semantic relations
(such as <tt>is-a (hypernymy)</tt> and <tt>part-whole
(meronomy)</tt>).  These synsets then linked to a shared index of
concepts.  The basic structure is called a <b>wordnet</b>, based on the
Princeton WordNet of English.


<p>The data comes from open wordnets in a variety of languages, all
linked through the Collaborative Interlingual Index (CILI). The goal
is to make it easy to use wordnets across multiple languages.  The
individual wordnets have been made by many different projects and vary
greatly in size and accuracy.  We have defined a shared
representation, merged different versions and projects and put it in
one place with a variety of useful interfaces.  The Open Multilingual
Wordnet and its components are
<a href='http://opendefinition.org/'>open</a>: they can be freely
used, modified, and shared by anyone for any purpose.  There is
a fuller list of wordnets at the Global Wordnet Association's
<a href='http://globalwordnet.org/wordnets-in-the-world/'>Wordnets
in the World page</a>.  

<p>A list of wordnets in the OMW:
  <table style="width:auto;overflow-x:auto;">
  <caption>Summary of the Wordnets</caption>
  <tr>
    <th>Language</th>
    <th>Wordnet</th>
    <th>License</th>
  <tr>
    {% for id in src_meta %}
    {% set meta = src_meta[id] %}
    {% set proj = meta['id'] + '-'  +  meta['version'] %}
    {% set lang = lang_id[lang_code['code'][meta['language']]][1] %}

  <tr>
    <td>{{lang}}</td>
    <td>
      {% if meta['url'] %}
	<a title='project homepage (external)' href='{{ meta['url']}}'>{{meta['label']}}
	  ({{meta['version']}})</a>
      {% else %}
      {{meta['label']}} ({{meta['version']}})
	{% endif %}
	&nbsp;	&nbsp;	&nbsp;
      (<a title='statistics' href='{{url_for('omw_wn',
	  src=proj)}}'><i class="fa fa-bar-chart"></i></a>;
<a title='statistics in LaTeX' href='{{url_for('omw_wn_latex',
	  src=proj)}}'>LaTeX</a>)
    </td>
    <td><a href='{{meta['license']}}'>{{licenses[meta['license']]}}</a></td>
   <tr>
  {% endfor %}
</table>

<p><a href='{{url_for('omw_wns')}}' title= 'Statistics
      in the OMW'>Fuller statistics of all the wordnets now in the
      OMW</a> (a little slow to load).

  
<p><a href="{{ url_for('join') }}">How to join the Open Multilingual
    Wordnet</a>.

<p><a href="http://compling.hss.ntu.edu.sg/omw/">Open Multilingual
Wordnet 1.0</a>.  Currently still more functional.
  


  
{% if current_user.id %}
<div id="UserPanel">
<h5>User Panel</h5>
<i>Coming soon...</i>
</div>
<hr>
{% endif %}


{% if current_user.group == 'admin' %}
<div id="AdminPanel">
<h5>Admin Panel</h5>
    <p><a href="{{ url_for('useradmin') }}">User Administration</a></p>
    <p><a href="{{ url_for('projectadmin') }}">Project and Source Administration</a></p>
    <p><a href="{{ url_for('langadmin') }}">Language Administration</a></p>
</div>
<hr>
{% endif %}



{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
