{% extends "omw.html" %}
{% block body %}
{% if src_id %}
{% if src_info.url %}
<h6>LaTeX for <a href='{{src_info.url}}'  title='upstream project homepage'>{{ src_info.label }}</a>
       ({{ wn }}:  {{ src_info.language }})</h6> {# expand to language #}
{% else %}
<h6>LaTeX for {{ src_info.label }} ({{ wn }}:  {{ src_info.language }})</h6> {# expand to language #}
{% endif %}

<!-- <p>{{ src_info.description }} DESCRIPTION to come here.</p> -->

<!-- {% if src_info.url %} -->
<!--   <p>The <a href='{{src_info.url}}'>upstream project homepage</a> may have more information than shown here.</p> -->
<!-- {% endif %} -->
  
<p>It is licensed by {{ src_info.license }}.</p>
  
{% if src_info.citation %}
<p>Canonical citation for this data:<br>
  {{src_info.citation}}
<br>Please attribute the data properly!</p>
{% endif %}  
<pre>
\begin{table}
  \caption{Statistics for {{ src_info.label }}  ({{ wn }})}
  \label{tab:{{wn}}}
  Synsets & Words & Senses & Core \\
  \hline
    {{ '{0:,}'.format(src_stats.synsets) }} & {{ '{0:,}'.format(src_stats.words) }}  & {{ '{0:,}'.format(src_stats.senses) }}  
\end{table}
</pre>
 <a href='{{url_for('omw_wn',src=wn)}}'>{{wn}} statistics</a>

<pre>
Number of senses/words/synsets by POS and total

How many linked to ILI

Coverage of the core concepts

How many new concepts (not in PWN)

How many synsets have definitions?
How many senses have examples?

For merge and expand:
How many semantic relations
How many constitutive and other major relations
</pre>

{# list other versions #}
{% else %} 
<p>I don't recognize this wordnet: &lt;<strong>{{wn}}</strong>&gt;.  Please use label-version
  (e.g. <tt>pwn-3.0</tt>).
{% endif %} 
  
{% endblock %}
