{% extends "omw.html" %}
{% block body %}
{% if src_id %}
{% if src_info.url %}
<h6><a href='{{src_info.url}}'  title='upstream project homepage'>{{ src_info.label }}</a>
       ({{ wn }}:  {{ src_info.language }})</h6> {# expand to language #}
{% else %}
<h6>{{ src_info.label }} ({{ wn }}:  {{ src_info.language }})</h6> {# expand to language #}
{% endif %}

<p>{{ src_info.description }} DESCRIPTION to come here.</p>

{% if src_info.url %}
  <p>The <a href='{{src_info.url}}'>upstream project homepage</a> may have more information than shown here.</p>
{% endif %}
  
<p>It is licensed by {{ src_info.license }}.</p>
  
{% if src_info.citation %}
<p>Canonical citation for this data:<br>
  {{src_info.citation}}
<br>Please attribute the data properly!</p>
{% endif %}  

<table style="width:auto;overflow-x:auto;">
  <caption>Statistics for {{ src_info.label }}  ({{ wn }})</caption>
  <tr>
    <th align='right'>Synsets</th>
    <th align='right'>Words</th>
    <th align='right'>Senses</th>
    <th align='right'>Core %</th>
    <th align='right'>CILI %</th> 
  </tr>
  <tr>
    <td align='right'>{{ '{0:,}'.format(src_stats.synsets) }}</td>
    <td align='right'>{{ '{0:,}'.format(src_stats.words) }}</td>
    <td align='right'>{{ '{0:,}'.format(src_stats.senses) }}</td>
    <td align='right'>{{ (src_stats.core*100/4960)|round(1) }}</td>
    <td align='right'>{{(src_stats.in_ili*100/ src_stats.synsets)|round(1) }}</td>
  </tr>
</table>
<p>Core % is the percentage of core synsets covered. CILI % is the
  percentage of synsets linked to CILI.

<p> <a data-sid='{{wn}}' href='{{url_for('omw_wn_latex',src=wn)}}'>LaTeX for
 {{wn}} statistics</a>

  
<pre>
Number of senses/words/synsets by POS and total

How many synsets have definitions?
How many senses have examples?

For merge and expand:
How many semantic relations
How many constitutive and other major relations
</pre>

{# list other versions #}
{% else %} 
<p>I don't recognize this wordnet: &lt;<strong>{{wn}}</strong>&gt;
  (internally: {{src_id}}, {{proj}}, {{ver}}).  Please use label-version
  (e.g. <tt>pwn-3.0</tt>).
{% endif %} 
  
{% endblock %}
