
#line{
  border-bottom:1px #aaaaaa solid;
  overflow: visible;
  height: 9px;
  margin: 15px 0 20px 0;  
}

#line span{
background-color: #aaaaaa;
border-radius: 5px 5px 5px 3px;  //rounds corners 
font-weight: normal;
font-size:small;
color: white;
padding: 0 5px;
}


html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
    padding-bottom:45px;  /* Height of the header */
    border-bottom: 3px double #8c8c8c;
}
#headerL {
    width: 80%; 
    float:left;
}
#headerR {
    width: 20%;
    float:right;
    text-align: right;
    padding-right:10px;
}
#body {
    padding:10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 90px;   /* Height of the footer */
}
.b_float_left {
    width: 49%; 
    float: left;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom:90px;   /* Height of the footer */
}
.b_float_right {
    width: 49%; 
    float: right;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom:90px;   /* Height of the footer */
}
#footer {
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:90px;   /* Height of the footer */
    background: #D3D3D3;
}







 /* This the class for a hidden tooltip div to populate and show on hover of elements */
#divtooltip {
    max-width: 70%;
    position: absolute;
    top: 8ex;
    right: 2ex;
    border: 2px solid black;
    border-radius: 1ex;
    padding: 1ex;
    z-index: 100;
    background-color: white;
    display: none;
}
/*  links for senses */

a.sense:link {
    color:#000000;
    text-decoration: none;
}
a.sense:visited {
    color:#000000;
    text-decoration:none;
}

a.concept:link {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}
a.concept:visited {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}
/* FIXME make the tooltip nicer */
span.pos {
    font-style: italic;
}
span.lang {
    font-variant: small-caps
}
span.rel {
    font-variant: small-caps
}
span.concept_name {
    font-weight: bold;
    font-size: 150%;
}