body {
    font-family: 'Noto Serif', serif;
}

html, body {
    height: 100%;
}

#container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: none;
}

a {
    color: #276fbf;
}

a:visited {
    color: #f03a47;
}

a:hover {
    color: #49beaa;
}

.blue-pane {
    background-color: #276fbf;
}
.red-pane {
    background-color: #f03a47;
}

.green-pane {
    background-color: #49beaa;
}

.yellow-pane {
    background-color: #f3c969;
}

.pane {
    color: #ecebe4;
    font-size: 230%;
    min-height: 300px;
    padding-right:50px;
}

.text-pane {
    color: #fff;
    padding:10px;
    margin-bottom: 20px;
}

.pane a {
    color: #ecebe4;
    text-decoration:none;
}

.pane a.pane-hover {
    font-size: 65%;
    margin-top:10px;
}

.pane .pane-hover {
    display: none;
}

.pane:hover .pane-hover {
    display: block;
}

.pane .pane-nonhover {
    display: block;
}

.pane:hover {
    padding-right: 10px;
}

.pane:hover .pane-nonhover {
    display: none;
}

@media only screen and (min-width:1200px) {
    .logo-bars {
        border-bottom: 2px solid black;
        padding-top: 50px;
    }
}

.bar {
    border-top:2px solid black;
    padding-bottom: 5px;
}


@media only screen and (max-width:600px) {
    .not-mobile {
        display: none;
    }
}

.nav-logo {
    text-align: center;
}

.login {
    text-align: center;
}

.red {
    color: #f03a47 !important;
}

.blue {
    color: #276fbf !important;
}

.green {
    color: #49beaa !important;
}

.yellow {
    color: #f3c969 !important;
}

.alabaster {
    color: #ecebe4 !important;
}

.black {
    color: #000 !important;
}

.answer {
    margin-bottom: 50px;
}

.omw-nav {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
}

.space-after {
    margin-bottom: 20px;
}

footer {
    background-color: #ecebe4;
    margin-top: 30px;
    margin-bottom:0px;
}

footer .container {
    padding: 20px;
}

.big-number {
    font-size: 140%;
    font-weight: bold;
}

.rules {
    list-style-type: none;
}

.rules-note {
    margin-bottom: 30px;
}

.tooltip-inner {
    text-align:left !important;
}

a.sense:link {
    color:#000000;
    text-decoration: none;
}
a.sense:visited {
    color:#000000;
    text-decoration:none;
}

a.concept:link {
    color: #0000A0;
    font-weight:bold;
    font-style: italic;
    text-decoration:none;
}
a.concept:visited {
    color:#8B0000;  
    font-weight:bold;
    font-style: italic;
    text-decoration:none;
}
/*  links for senses */
a.sense:link {
    color:#000000;
    text-decoration: none;
}
a.sense:visited {
    color:#000000;
    text-decoration:none;
}

a.concept:link {
    color: #0000A0;
    font-weight:bold;
    font-style: italic;
    text-decoration:none;
}
a.concept:visited {
    color:#8B0000;  
    font-weight:bold;
    font-style: italic;
    text-decoration:none;
}
/* FIXME make the tooltip nicer */
span.pos {
    font-style: italic;
}
span.lang {
    font-variant: small-caps
}
span.rel {
    font-variant: small-caps
}
span.rel a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
span.concept_name {
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
}





/* THIS IS TO ALLOW OVER/UNDER FRACTION STYLE TEXT */
/* USE LIKE SO: */
/* <span class="over-under"> */
/*   <span class="over">sup</span> */
/*   <span class="under">sub</span> */
/* </span> */
span.over-under {
    font-size: 70%;
    position: relative;
    /* top: 2em; */
    display: inline-block;
}
span.over-under > .over {
    display: table-row;
}
span.over-under > .under {
    display: table-row;
}

table.rels { width: auto; }

.line{
  border-bottom:1px #aaaaaa solid;
  overflow: visible;
  height: 9px;
  margin: 15px 0 20px 0;  
}

.line span{
background-color: #aaaaaa;
border-radius: 5px 5px 5px 3px;  //rounds corners 
font-weight: normal;
font-size:small;
color: white;
padding: 0 5px;
}

.tooltip {
  pointer-events: none;
}
